.block{
    background-color: rgba(0, 0, 0, 0.72);
}

.image{
    max-width: 100%;
    min-width: 50%;
    width: 1000px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.but1{
    background-color: rgba(0, 72, 100, 0.71);
    color: white;
    border-radius: 4px;
    margin-left: 16rem;
    margin-bottom: 2rem;
    cursor: pointer;
    height: 2rem;
}

.but2{
    background-color: rgba(89, 78, 6, 0.6);
    color: white;
    border-radius: 4px;
    margin-left: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    height: 2rem;
}